<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Ryan Szalaty | Welcome</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-left">
                <h1 id="logo"><span id="logo-left">R</span><span id="logo-right">S</span></h1>
            </div>
            <div class="navbar-right">
                <ul class="navbar-ul">
                    <li class="navbar-li">
                        <a href="#"><button>Home</button></a>
                    </li>
                    <li class="navbar-li">
                        <a href="/download"><button> Download Resume</button></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="carousel-container">
        <img id="carousel-img" src="../img/carousel_1.jpg" alt="image">
            <p id="quote"> </p>
            <p id="quote-author">- Ryan Szalaty</p>
    </section>

    <section class="container">
        <div class="card">
            <img src="../img/html_icon.png">
            <p>Create professionally-tailored websites using modern standards from HTML5.</p>
        </div>
        <div class="card">
            <img src="../img/css_icon.png">
            <p>Design beautiful UIs that rival Bootstrap 4.</p>
        </div>
        <div class="card">
            <img src="../img/javascript_icon.png">
            <p>Enable user interactivity and satisfy your business needs with JavaScript.</p>
        </div>
    </section>

    <section class="container">
        <div class="card">
            <img src="../img/react-icon.png">
            <p>Encapsulate your important data with components and state management.</p>
        </div>
        <div class="card">
            <img src="../img/node.png">
            <p>Backend created using Node.js.</p>
        </div>
        <div class="card">
            <img src="../img/mongo.png">
            <p>Manage data in an easy-to-use database: MongoDB.</p>
        </div>
    </section>

    <footer>
        <p>Ryan Szalaty &copy 2022</p>
        <a target="_blank" href="https://icons8.com/"></a> All icons by <a target="_blank" href="https://icons8.com">Icons8</a>
    </footer>
    <script src="../utils/quotes.js"></script>
</body>
</html>